body {
  background-color: black;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar { /* width */
  width: 20px;
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: rgb(255,255,255,0.15);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent;
}
::-webkit-scrollbar-thumb:active { /* Handle on hover */
  background: rgb(255,255,255,0.24);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

/* Text_align */
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/* Text_Link */
a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
.menu-top > .text-align-left > a:hover {
  padding-bottom: 4px;
  box-shadow: inset 0px -2px 0 0 white;
  transition: 0.15s linear;
}
.menu-top > .text-align-left > a:active {
  padding-bottom: 4px;
  box-shadow: inset 0px -2px 0 0 white;
}
.menu-top > .text-align-right > a:hover {
  padding-bottom: 4px;
  box-shadow: inset 0px -2px 0 0 white;
  transition: 0.15s linear;
}
.menu-top > .text-align-right > a:active {
  padding-bottom: 4px;
  box-shadow: inset 0px -2px 0 0 white;
}
.menu-left > a:hover {
  padding-right: 4px;
  box-shadow: inset -2px 0 0 0 white;
  transition: 0.15s linear;
}
.menu-left > a:active {
  padding-right: 4px;
  box-shadow: inset -2px 0 0 0 white;
}
.menu-right > a:hover {
  padding-left: 4px;
  box-shadow: inset 2px 0 0 0 white;
  transition: 0.15s linear;
}
.menu-right > a:active {
  padding-left: 4px;
  box-shadow: inset 2px 0 0 0 white;
}

/* font_web */
.menu-font {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  font-size: 2rem;
  line-height: 1.5;
  color: #fefefe;
}
.menu-font-bottom {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  font-size: 1.6rem;
  line-height: 1.8;
  color: #fefefe;
}
.menu-font-sub {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  font-size: 1.3rem;
  line-height: 1.6;
  color: #fefefe;
}
.caption-font {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  font-size: 1.2rem;
  color: #fafafa;
}
.detail-font-title {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  padding: 100px 0 50px 0;
  font-size: 2rem;
  line-height: 1.5;
  color: #fefefe;
}
.detail-font-sub {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  font-size: 0.92rem;
  line-height: 1.53;
  letter-spacing: 0.2px;
  color: #fefefe;
}
.detail-font-sub-ko {
  font-family: Noto Sans KR, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  font-size: 0.88rem;
  line-height: 1.53;
  letter-spacing: 0.2px;
  color: #fefefe;
}

/* Menu */
.menu-top {
  display: grid;
  grid-template-columns: 100px auto 100px;
  margin: 0 10px 0 10px;
  padding: 0;
  background-color: transparent;
}

.menu-top-mobile {
  display: none;
  grid-template-columns: 100px auto 100px;
  margin: 0 10px 0 10px;
  padding: 0;
  background-color: transparent;
}

#menuTopMobileSub {
  display: none;
}

.menu-top-mobile-sub {
  display: none;
  grid-template-columns: 100%;
  margin: 0 10px 0 10px;
  padding: 4px 5px 7px 5px;
  border: 1.7px solid #fefefe;
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.menu-left {
  position: fixed;
  top: 45%;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  writing-mode: vertical-rl;
  /*align-left*/
  left: 0px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);/* Safari */
  -moz-transform: rotate(180deg); /* Firefox */
  -ms-transform: rotate(180deg); /* IE 9 */
  -o-transform: rotate(180deg); /* Opera */
}
.menu-right {
  position: fixed;
  top: 45%;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  writing-mode: vertical-rl;
  /*align-right*/
  right: 0px;
}
.menu-bottom {
  position: fixed;
  bottom: 0px;
  margin: 0px;
  padding: 50px 80px 20px 80px;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.btn {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

.btn-dropdown {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

#menuTopUnderline > .menu-top > .text-align-center > button.btn:hover {
  box-shadow: inset 0 -2px 0 0 white;
  transition: 0.15s linear;
  cursor: pointer;
}
#menuTopUnderline > .menu-top > .text-align-center > button.btn.active {
  box-shadow: inset 0 -2px 0 0 white;
}

#menuTopUnderline > .menu-top > .text-align-right > button.btn:hover {
  box-shadow: inset 0 -2px 0 0 white;
  transition: 0.15s linear;
  cursor: pointer;
}
#menuTopUnderline > .menu-top > .text-align-right > button.btn.active {
  box-shadow: inset 0 -2px 0 0 white;
}

#menuTopUnderline > .menu-top-mobile > .text-align-right > button.btn.active {
  box-shadow: inset 0 -1.7px 0 0 white;
}
#menuTopUnderline > .menu-top-mobile-sub > .text-align-center > button.btn.active {
  box-shadow: inset 0 -1.7px 0 0 white;
}

#hide > button.btn:hover {
  box-shadow: inset 0 -2px 0 0 white;
  transition: 0.15s linear;
  cursor: pointer;
}
#hide > button.btn.active {
  box-shadow: inset 0 -2px 0 0 white;
}

.menu-bottom > .filterDiv {
  padding-bottom: 4px;
  box-shadow: inset 0 0 0 0 white;
}
.menu-bottom > .show:hover {
  padding-bottom: 4px;
  box-shadow: inset 0 -2px 0 0 white;
  transition: 0.15s linear;
}



/* Menu_filter */
.filterDiv {
  cursor: default;
  opacity: 20%;
  filter: blur(9px);
  -webkit-filter: blur(9px);
  margin-left: auto;
  margin-right: auto;
}
.show {
  cursor: pointer;
  opacity: 100%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: 0.3s linear;
}
.menu-bottom-blur {
  padding-bottom: 4px;
  box-shadow: inset 0 -2px 0 0 white;
  transition: 0.15s linear;
}



/* Thumbnail */
.thumbnail-view {
 margin: 0 auto;
}

.thumbnail-view-item,
.thumbnail-view-sizer, {
  width: 20%;
}

.thumbnail-view-item {
  margin: 0 0 20px 0;
}

.show > button > img.thumbnail {
  margin-bottom: 4px;
  transition: 0.14s linear;
}
.show > button > img.thumbnail:hover {
  cursor: pointer;
  transform: scale(1.18);
  /* shodow effect
  box-shadow: 0px 5px 20px rgba(255,255,0,1);
  z-index: 2; */
}


#about {
  display: none;
}


/* Modal */
.modal-default {
  position: relative;
  margin: auto;
  padding-bottom: 5%;
  width: 85%;
  background-color: transparent;
}
.modal-item {
  display: none;
}
.modal-dimbg {
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


.detail-view {
 margin: 0 auto;
}

.detail-view {
  width: 180px;
  height: 120px;
  float: left;
}
/* Modal_Conponents */
.prev,
.next {
  display: none;
  position: fixed;
  top: 50%;
  padding: 10px;
  z-index: 5;
  user-select: none;
  -webkit-user-select: none;
  font-size: 45px;
  color: #fefefe;
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}
.prev:hover,
.next:hover {
  cursor: pointer;
  opacity: 0.3;
}
.close {
  display: none;
  position: fixed;
  top: 0px;
  right: 21px;
  z-index: 5;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 300;
  font-size: 35px;
  color: rgba(240,240,240,1);
}
.close:hover,
.close:focus {
  cursor: pointer;
  opacity: 0.3;
}

/* Modal_img_single */
.modal-img-single {
  /*position: fixed;
  transform = translate(-50%, -50%);
  top: 50%; */
  position: relative;
  padding-top: 100px;
  background-color: transparent;
  margin: 0 auto;
  width: 80%;
  height: auto;
  /*padding-bottom: 5%; */
  max-width: 1000px;
  color: #ffffff;
}


/* Modal_img_multiple */


.modal-padding,.modal-padding-left,.modal-padding-right > img:hover {
  cursor: zoom-in;
}


.modal-img-deco > img {
  pointer-events: none;
}

.modal-img-deco > img:hover {
  cursor: default;
}

img.modal-img-deco {
  pointer-events: none;
}

img.modal-img-deco:hover {
  cursor: default;
}

.modal-skicky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.iframe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.iframe-time {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 155%;
}

.iframe-cube {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 63%;
}

.iframe-responsive {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Modal_Grid */
.modal-padding {
  border: 0px;
  padding: 10px;
}

.modal-padding-left {
  border: 0px;
  padding-left: 20px;
}

.modal-padding-right {
  border: 0px;
  padding-right: 20px;
}

.img-padding-left {
  padding-left: 10px;
}

.img-padding-right {
  padding-right: 10px;
}

.modal-padding-text {
  border: 0px;
  padding: 10px 0 10px 0;
}

#modal-one {
  display: none;
  grid-template-columns: 100%;
  padding: 0 0 0 0;
  background-color: transparent;
  margin: 0 auto;
}

#modal-one-text {
  display: none;
  grid-template-columns: auto auto;
  padding: 0 0 0 0;
  background-color: transparent;
  margin: 0 auto;
  width: 85%
}

img {
  padding: 0;
  margin: 0;
}

img.center {
  display: block;
  margin: 0 auto;
}

img.right {
  display: block;
  margin-left: auto;
  /* float:left; */
}

.padding-menu-top {
  height: 60px;
  width: auto;
  cursor: default;
}

.padding-20 {
  height: 20px;
  width: auto;
  cursor: default;
}

.padding-30 {
  height: 30px;
  width: auto;
  cursor: default;
}

.padding-40 {
  height: 40px;
  width: auto;
  cursor: default;
}

.padding-4p {
  height: 40px;
  width: auto;
  cursor: default;
}

.padding-50 {
  height: 50px;
  width: auto;
  cursor: default;
}

.modal-1 {
  display: grid;
  grid-template-columns: 38% 38% auto;
  grid-gap: 30px;
  background-color: transparent;
  margin: 0 auto;
  width: 90%;
}

.modal-1-padding {
  border: 0px;
  padding-top: 6px;
}

.modal-1-padding:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.modal-1-item:nth-of-type(2) {
  grid-row-start: span 5;
}

.modal-2 {
  display: grid;
  /* position: relative;
  padding-top: 100px; */
  position: fixed;
  top: 10%;
  left:10px;
  right:10px;
  grid-template-columns: 100%;
  padding: 0 0 0 0;
  background-color: transparent;
  margin: 0 auto;
  width: 80%;
  /* height: auto; */
  max-width: 1000px;
}


.modal-3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 30px;
  background-color: transparent;
  margin: 0 auto;
  width: 80%;
}

.modal-3-item:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.modal-3-item-2:nth-of-type(1) {
  grid-row-start: span 2;
}

.modal-3-item-2:nth-of-type(4) {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.modal-3-2 {
  display: grid;
  grid-template-columns: auto 75%;
  grid-gap: 30px;
  background-color: transparent;
  margin: 0 auto;
  width: 80%;
}

.modal-3-one-video {
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  margin: 0 auto;
  width: 40%;
}

.modal-4 {
  display: grid;
  grid-template-columns: 67% 32%;
  grid-gap: 50px;
  background-color: transparent;
  margin: 0 8% 0 2%;
}

.modal-4-padding {
  border: 0px;
  padding-top: 6px;
}

.modal-6 {
  display: grid;
  grid-template-columns: 20% 36% 44%;
  padding: 0 0 0 0;
  background-color: transparent;
  grid-gap: 30px;
  margin: 0 auto;
  width: 90%;
}

/* .modal-6-item {
  background-color: red;
} */

.modal-6-one {
  display: grid;
  grid-template-columns: 23% 77%;
  /* grid-gap: 30px; */
  background-color: transparent;
  margin: 0 auto;
  width: 85%;
}

.modal-7 {
  display: grid;
  grid-template-columns: 56% 44%;
  padding: 0 0 0 0;
  background-color: transparent;
  grid-gap: 30px;
  margin: 0 auto;
  width: 90%;
}

.modal-7-padding {
  padding-top: 5px;
}

.modal-7-one-video {
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  margin: 0 auto;
  width: 85%;
}

.modal-8 {
  display: grid;
  grid-template-columns: 56% 44%;
  padding: 0 0 0 0;
  background-color: transparent;
  grid-gap: 35px;
  margin: 0 auto;
  width: 90%;
}

.modal-8-padding {
  padding-top: 5px;
}

.modal-8-one-video {
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  margin: 0 auto;
  width: 85%;
}

.modal-9 {
  display: grid;
  grid-template-columns: 79% 1% 20%;
  padding: 0 0 0 0;
  background-color: transparent;
}

.modal-10 {
  display: grid;
  grid-template-columns: 26.5% 2% 26.5% 2% 26.5% 2% 14.5%;
  padding: 0 0 0 0;
  background-color: transparent;
  /* grid-gap: 30px; */
  margin: 0 auto;
}

/* .modal-10 {
  display: grid;
  grid-template-columns: 28% 28% 28% 16%;
  padding: 0 0 0 0;
  background-color: transparent;
} */

.modal-11 {
  display: grid;
  grid-template-columns: 20% 20% auto 20% 20%;
  background-color: transparent;
  grid-gap: 30px;
  margin: 0 auto;
}

.modal-11-item:nth-of-type(3) {
  grid-row-start: span 3;
}

.modal-11-item:nth-of-type(10) {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.modal-11-one {
  display: grid;
  grid-template-columns: 48% 4% 48%;
  /* grid-gap: 30px; */
  background-color: transparent;
  margin: 0 auto;
  width: 85%;
}

.modal-12 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
  background-color: transparent;
  margin: 0 auto;
  width: 80%;
}

.modal-12-item:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.modal-12-item:nth-of-type(3) {
  grid-row-start: span 6;
}

.modal-12-one-video {
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  margin: 0 auto;
  width: 85%;
}

.modal-12-one {
  display: grid;
  grid-template-columns: 48% 4% 48%;
  /* grid-gap: 30px; */
  background-color: transparent;
  margin: 0 auto;
  width: 85%;
}

/* .modal-12-padding1 {
  border: 0px;
  padding: 10px 40px 0px 10px;
}

.modal-12-padding2 {
  border: 0px;
  padding: 5px 10px 0px 40px;
} */

.modal-13 {
  display: grid;
  grid-template-columns: 34% 22% 22% 22%;
  padding: 0 0 0 0;
  background-color: transparent;
}

.modal-13-padding {
  border: 0px;
  padding: 1px 10px 0px 10px;
}

.modal-13-one {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
  background-color: transparent;
  margin: 0 auto;
  width: 85%;
}

.grid-container-detail-1 {
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
}

.grid-container-detail-3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0 0 0 0;
  background-color: transparent;
}

.grid-container5 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: transparent;
  padding: 0px;
}
.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.grid-container1 {
  display: grid;
  grid-template-columns: auto;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}














/*
.caption-container {
  text-align: center;
  background-color: transparent;
  padding: 2px 16px;
  color: white;
}
*/





/* Responsive layout */

@media only screen and (min-width:1025px) {
  #modal-one {
    display: none;
  }
  #modal-one-text {
    display: none;
  }
  #menuTopMobileSub {
    display: none;
  }
}

/* @media only screen and (max-width:1524px) {
  .modal-10 {
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
    width: 80%;
  }
  .modal-10-item:nth-of-type(4) {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
} */

@media only screen and (max-width:1024px) {
  .thumbnail-view-item,
  .thumbnail-view-sizer {
    width: 25%;
  }
  .detail-font-title {
    padding: 60px 0 40px 0;
  }
  .modal-default {
    position: relative;
    margin: auto;
    padding-bottom: 5%;
    width: 80%;
    max-width: 1400px;
    height: auto;
    background-color: transparent;
  }

  .padding-20 {
    height:10px;
  }

  .padding-30 {
    height:20px;
  }

  .padding-40 {
    height: 30px;
  }

  .padding-4p {
    height: 14px;
  }

  .padding-50 {
    height:40px;
  }

  .modal-1,.modal-3,.modal-3-2,.modal-4,.modal-6,.modal-7,.modal-8,.modal-9,.modal-10,.modal-11,.modal-12,.modal-13 {
    display: none;
  }
  .modal-7,.modal-12 {
    grid-gap: 20px;
  }

  #modal-one {
    display: grid;
  }
  #modal-one-text {
    display: grid;
  }
}

@media only screen and (max-width:800px) {   /* For tablets: */
  .thumbnail-view-item,
  .thumbnail-view-sizer {
    width: 33%;
  }
  .menu-font {
    font-size: 1.7rem;
  }
  .menu-font-bottom {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .prev,
  .next {
    font-size: 35px;
  }
  .modal-img-single {
    position: fixed;
    top:20%;
  }
  .modal-01 {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width:600px),(max-height:600px) {   /* For tablets: */

  #menuTopMobileSub {
    display: none;
  }
  .menu-bottom {
    display: none;
  }
  .menu-font {
    font-size: 1.5rem;
  }
  .caption-font {
    font-size: 1rem;
  }
}

@media only screen and (max-width:450px) {   /* For tablets: */
  .thumbnail-view-item,
  .thumbnail-view-sizer {
    width: 50%;
  }
  ::-webkit-scrollbar { /* width */
    width: 0px;
  }

  .menu-font,.detail-font-title {
    font-size: 1.4rem;
  }
  .menu-top {
    display: none;
  }
  .menu-top-mobile,.menu-top-mobile-sub {
    display: grid;
    /* position: fixed; */
  }

  #menuTopMobileSub {
    display: block;
  }

  .padding-menu-top {
    height: 40px;
  }
  .modal-default {
    width: 95%;
  }

  .detail-font-title {
    padding: 35px 0 20px 0;
  }

  .detail-font-sub {
    font-size: 0.85rem;
    line-height: 1.43;
  }

  .prev,
  .next {
    font-size: 27px;
  }
  .prev {
    left: 1px;
  }

  .prev:hover,
  .next:hover {
    opacity: 1;
  }

  .next {
    right: 1px;
  }
  .close {
    top: 0px;
    font-size: 30px;
    right: 12px;
  }
  #modal-one-text {
    grid-template-columns: auto;
    width: 85%
  }

  .modal-img-single {
    /* width: 50%; */
    margin: 0 auto;
  }

}
